@import "variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  color: $font-color-header;
  font-family: $serif;
  padding: 27px 44px;
  background-color: rgba(0,0,0,0.8);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  &:after {
    content: "";
    background-image: url(http://lorempixel.com/1440/301/nature/g);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    @media screen and (max-width: 768px) {
      background-image: url(http://lorempixel.com/1024/768/nature/g);
    }
  }

  @media screen and (max-width: 768px) {
    padding: 27px 19px;
  }
}

.title {
  font-size: $font-size-xx-large;
  line-height: 85px;

  @media screen and (max-width: 768px) {
    font-size: 42px;
    line-height: 55px;
  }
}

.subtitle {
  font-size: $font-size-x-large;

  @media screen and (max-width: 768px) {
    font-size: 19px;
    line-height: 26px;
  }
}

.content {
  font-family: $sans-serif;
  color: $font-color-primary;
  padding: 27px 44px;
  height: 50vh;

  @media screen and (max-width: 768px) {
    padding: 27px 19px;
  }
}

.introduction {
  font-size: $font-size-large;
  max-width: 640px;
  line-height: 36px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

p {
  font-size: $font-size-regular;
  color: $font-color-secondary;
  margin-top: 27px;
  line-height: 26px;
}

a {
  color: $font-color-secondary;
  text-decoration: none;
  font-weight: bold;
}
