html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  color: #ffffff;
  font-family: "Cinzel", serif;
  padding: 27px 44px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.header:after {
  content: "";
  background-image: url(http://lorempixel.com/1440/301/nature/g);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .header:after {
    background-image: url(http://lorempixel.com/1024/768/nature/g);
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 27px 19px;
  }
}

.title {
  font-size: 68px;
  line-height: 85px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 55px;
  }
}

.subtitle {
  font-size: 42px;
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 19px;
    line-height: 26px;
  }
}

.content {
  font-family: "Montserrat", sans-serf;
  color: #424242;
  padding: 27px 44px;
  height: 50vh;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 27px 19px;
  }
}

.introduction {
  font-size: 26px;
  max-width: 640px;
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  .introduction {
    max-width: 100%;
  }
}

p {
  font-size: 19px;
  color: #8c8c8c;
  margin-top: 27px;
  line-height: 26px;
}

a {
  color: #8c8c8c;
  text-decoration: none;
  font-weight: bold;
}
